/* общие правила для страницы: */
* {
	margin: 0; /* отступы */
	padding: 0; /* поля */
	border: 0; /* рамка */
 }
 
 /* ===================================================== тело */
 body { 
	padding: 0px 0 0; /* поля */ 
	color: #333;  /* цвет шрифта */
	font-family: “Comic Sans MS”, Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff;
 }

 /* ===================================================== основной контейнер */
 #container {
	display: block;
	width: 90%;
	margin: 0px auto;  /* отступы. будет помещен в центр */
	background: #efefef;
	overflow:hidden;	

	/* тень */	
	-webkit-box-shadow: 0px 15px #939ea2; /* Google Crome и Safari */	
	box-shadow: 0 0 15px 0 #939ea2; /* В Опере и Firefox */
 }
 
 /* ===================================================== шапка */
 #header {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 2%;
	clear: both;

	font-family: Arial;
	font-size: 48px;
	
	background: #4b5155;
	color: #ffffff;	

	/* обводка */	
	border: 1px;
	border-color: #ffffff;	
	border-style: solid;
 }
 
#header div {	
	height: 100px; /* высоту задаем здесь, а не у предка, чтобы строка была по центру (в противном случае сработает автосайз и все нам испортит) */
					/* хотя можно и у предка тоже указать, ничего страшного не случиться, главное чтобы они совпадали */
	display: table-cell; 
	vertical-align: middle;
}
 
 /* ===================================================== левый блок */
 #nav_block { 
	width: 15%;	
	margin: 0px;  /* отступы */ 	
	margin-left: 2%;
	margin-bottom: 2%;
	padding: 2% 0 0px 2%;		
	float: left;

	font-family: Arial;
	font-size: 22px;	
	
	background: #9ba2a8;	
	color: #ffffff;	
	
	/* обводка */	
	border: 1px;
	border-color: #ffffff;	
	border-style: solid;
 }
 
 #nav_block ul {
	list-style-type: none;	
 }
 
 #nav_block li {
	margin-bottom: 28px;	
 }
 
 #nav_block a {
	color: #ffffff;
	margin-bottom: 28px;
 }
 #nav_block a:hover {
	color: #d2f9af;	
 }
 
 /* ===================================================== правый блок */
 
 #content_block {   
	margin: 0 2% 2% 2%;  /* отступы */   
	padding: 2% 2% 2% 2%;
	float: right;	
	width: 72%;	

	font-family: Arial;
	font-size: 14px; 	

	background: #e2e5e7;
	color: #515151;
	
	/* обводка */	
	border: 1px;
	border-color: #ffffff;	
	border-style: solid;
}
 
 #content_block h2 {
	font-weight: bold;
	margin-bottom: 2%;
	color: #28373d;
 } 

 #content_block p {
	margin-bottom: 20px;
 }
 
 #content_block ul {
	list-style-type: none;	
	margin-left: 20px;
	margin-bottom: 20px;
 } 
 
 #content_block ul li {
	margin-top: 5px;
 }
 
 /* ===================================================== подвал */
 
 #footer{	
	clear: both;	
	padding-left: 2%;
 
	font-family: Arial;
	font-size: 10px; 
	
	background : #dee1e2;	
	color : #28373d;
	
	/* градиент */
	background: #d0d6d8; /* Old browsers */
	background: -moz-linear-gradient(top, #d0d6d8 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0d6d8), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d0d6d8 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d0d6d8 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d0d6d8 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d0d6d8 0%,#efefef 100%); /* W3C */	
 }
 
 #footer div {	
	height: 60px; /* высоту задаем здесь, а не у предка, чтобы строка была по центру (в противном случае сработает автосайз и все нам испортит) */
					/* хотя можно и у предка тоже указать, ничего страшного не случиться, главное чтобы они совпадали */
	display: table-cell; 
	vertical-align: middle;	
}