 #header {
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
}

 #content_block {   
	width: 67%;
 }
 
 #container {
	background: #ffffff;
	zoom: 1;
	filter: 
		progid:DXImageTransform.Microsoft.Shadow(color=#939ea2,direction=270,strength=3)
		progid:DXImageTransform.Microsoft.Shadow(color=#939ea2,direction=90,strength=3); /* Internet Explorer */	
		progid:DXImageTransform.Microsoft.Shadow(color=#939ea2,direction=180,strength=3); /* Internet Explorer */	
}

#nav_block { 
	margin-bottom: 2%;
}

#footer{		
	padding-left: 0;	
	height: auto;
	background: ff0000;
	border: 5px;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d6d8', endColorstr='#efefef'); /* IE6-9 */
}

#footer div {
	display: block;
	height: 60px;	
	line-height: 60px;
	padding-left: 2%;
	margin: 0;	
	border: 5px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d6d8', endColorstr='#efefef'); /* IE6-9 */
}