 /* правый блок. новости */
 
 #content_block .news_body {
	background: #BABDBF;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;		
	padding-bottom: 0;	
	padding-left: 5px;
 }

 #content_block .news_body p {	
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0px;
 }

 #content_block .news_date { 
	background: #BABDBF;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 20px;
	padding-bottom: 5px;	
	padding-right: 5px;
	color: #52493F;
	text-align: right;
 }