﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using LoftShop.ViewModels

@{
    ViewData["Title"] = "Просмотр товаров";
}

@{
    var products = ViewData["Products"] as List<ProductViewModel>;

    <div class="products-container">
        @{
            if (products.Count > 0)
            {
                <ul>
                    @foreach (var product in products)
                    {
                        <li>
                            @Html.ActionLink(@product.Name, "ShowProduct", "Shop", new { productId = @product.Id })
                        </li>
                    }
                </ul>
            } else
            {
                <p>В этом разделе товары отсутствуют.</p>
            }
        }
    </div>
}
