﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using LoftShop.ViewModels

@{
    ViewData["Title"] = "Просмотр товаров";
}

@model LoftShop.ViewModels.ProductViewModel

<h2>@Model.Name</h2>

<p>Цена: @Model.Price</p>

<p>@Model.Description</p>
