﻿@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Татуин<br />
    Мос Айсли, 17-42<br />
    <abbr title="Телефон">P:</abbr>
    666.777.0888
</address>

<address>
    <strong>Техническая поддержка:</strong> <a href="mailto:megathrone86@gmail.com">megathrone86@gmail.com</a><br />
    <strong>Другие вопросы:</strong> <a href="mailto:troll@trolley.net">troll@trolley.net</a>
</address>
