﻿@model WebApplication1.Models.ImportResultsViewModel

<div>
    <h4>Результаты импорта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilesCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilesCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowsAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowsAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowsSkipped)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowsSkipped)
        </dd>
    </dl>
</div>
<div>
    <p>
        @Html.ActionLink("Импортировать еще", "Index")
    </p>
    <p>
        @Html.ActionLink("Посмотреть список кандидатов", "Index", "Candidates")
    </p>
</div>
