﻿@model IEnumerable<CandidateViewModel>

<h4>Импорт анкет</h4>

<form asp-controller="Import" asp-action="Upload" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="editor-field">
        <input type="file" id="file" name="files" multiple />
    </div>

    <input type="submit" class="btn btn-default" value="Загрузить" />
</form>