﻿@model webapp.Models.NewsBriefModel

<div>
    <form asp-controller="Home" asp-action="SaveNews" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#news-container">
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(m => m.Header, new { @class = "col-md-2 control-label" })
                @Html.EditorFor(m => m.Header, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Body, new { @class = "col-md-2 control-label" })
                @Html.TextAreaFor(m => m.Body, 20, 30, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreateDate, new { @class = "col-md-2 control-label" })
                @Html.EditorFor(m => m.CreateDate, new { @class = "form-control" })
            </div>

            @Html.HiddenFor(m => m.Id)

            <input type="submit" class="btn btn-default" value="Отправить" />
            <input type="reset" class="btn btn-default" value="Закрыть" onclick="$('#addform').empty();" />
        </fieldset>
    </form>
</div>