﻿@{
    ViewData["Title"] = "Продукция";
}

<link rel="stylesheet" href="~/css/mycarousel.css" />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">Молоко</li>
        <li data-target="#myCarousel" data-slide-to="1">Сыр</li>
        <li data-target="#myCarousel" data-slide-to="2">Яйца</li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h3>Молоко</h3>

            <div class="photosContainer">
                <img class="inline-image article-image"
                     src="~/images/production/kozie-moloko.jpg" />
            </div>

            <p>
                Козье молоко по своей природе родственно женскому, так как содержит много бета-казеина. Очень полезно для предотвращения рахита у детей. Содержит меньше лактозы (молочного сахара), чем коровье, поэтому не вызывает диареи и подходит тем, у кого плохо усваивается лактоза.
                Мы предлагаем молоко знаменитых англо-нубийских коз, которое не имеет запаха и обладает очень приятным вкусом.
            </p>
            <p>
                <strong>Козы регулярно сдают анализы на наличие инфекций, имеются справки. Непригодное для питья молоко в продажу не поступает.</strong>
            </p>
            <p>
                Количество молока ограничено, предпочтительны заказы на регулярной основе (например, раз в неделю). Но иногда возможны и разовые покупки.
            </p>

            <p>Примерная стоимость: 150р./литр</p>
        </div>

        <div class="item">
            <h3>Сыр</h3>

            <div class="photosContainer">
                <img class="inline-image article-image"
                     src="~/images/production/sir1.jpg" />
                <img class="inline-image article-image"
                     src="~/images/production/sir2.jpg" />
                <img class="inline-image article-image"
                     src="~/images/production/sir3.jpg" />
            </div>

            <p>
                Настоящий козий сыр готовят из чистого козьего молока, причем первоначальный рецепт очень прост. Люди знали его сотни лет назад. Молоко естественным образом скисает и свертывается, жидкость сливают, оставшуюся творожистую смесь отжимают и ставят под пресс.
                По Вашему желанию мы можем выдержать сыр в рассоле, или оставить его пресным.
            </p>

            <p>Примерная стоимость: 1500р./кг</p>
        </div>

        <div class="item">
            <h3>Яйца</h3>

            <div class="photosContainer">
                <img class="inline-image article-image"
                     src="~/images/production/eggs.jpg" />
                <img class="inline-image article-image"
                     src="~/images/production/eggs2.jpg" />
            </div>

            <p>Мы содержим кур различных пород, в том числе имеются декоративные породы, которые несут яйца необычных цветов.</p>

            <p>Примерная стоимость: 150р./десяток</p>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>