﻿@{
    ViewData["Title"] = "Дополнительные услуги";
}

<link rel="stylesheet" href="~/css/mycarousel.css" />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">Зоотакси</li>
        @*<li data-target="#myCarousel" data-slide-to="1">Экскурсии</li>*@
        <li data-target="#myCarousel" data-slide-to="1">Навоз</li>
        <li data-target="#myCarousel" data-slide-to="2">Консультации</li>
        @*<li data-target="#myCarousel" data-slide-to="3">Верховые прогулки</li>
            <li data-target="#myCarousel" data-slide-to="4">Прокат</li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h3>Зоотакси</h3>

            <div class="photosContainer">
                <img class="inline-image article-image"
                     src="~/images/services/zootaxi.jfif" />
            </div>

            <p>
                Мы можем помочь с перевозкой любого животного, от волнистого попугайчика до пони. Животные небольшого и среднего размера могут ехать в салоне автомобиля.
                Крупные животные или большое количество животных за один раз могут быть перевезены в легковом тентованном прицепе, но нужно учитывать устойчивость животных к холоду или жаре.
            </p>
            <p>
                Габариты прицепа (длина × ширина × высота, см): 200 × 140 × 150
            </p>
            <p>
                Для перевозки мелких животных мы используем специальные переноски, в которых животное сможет провести поездку с комфортом.
                Стоимость поездки рассчитывается из цены 10 р./км (оплачиваются оба направления) для легкового автомобиля. Стоимость поездки с прицепом зависит от дальности поездки. Стоимость поездки можно уточнить по телефону.
            </p>
            <h4>Пожалуйста, обратите внимание:</h4>
            <p>Зоотакси для нас - далеко не основная услуга, и мы не можем гарантировать, что откликнемся на звонок в любое время суток. Убедительно просим предупреждать о заказе заранее, чтобы мы смогли подстроить свой график. Мы не обещаем невозможного, но всегда стараемся выполнить взятые на себя обязательства.</p>
        </div>
        @*<div class="item">
                <h3>Экскурсии</h3>

                <div class="photosContainer">
                <img class="inline-image article-image"
                     src="~/images/services/excursion.jfif" />
                    </div>

                <p>
                    Уникальность нашего зоопарка в том, что всех животных можно покормить, погладить, сфотографироваться и сразу получить фотографию. На территории зоопарка содержатся лошади, пони, ослик, куры нескольких пород, в том числе и декоративные, козы англо-нубийской породы (единственные в Калуге), собаки от лилипутов до великанов, кошки, игуаны, паук-птицеед, тараканы архимандриды и шипящие мадагаскарские, улитка ахатина. По территории зоопарка можно ходить, гладить животных, брать в руки некрупных животных и птиц, угощать, фотографировать.
                </p>
                <p>
                    Вы сможете покататься на пони, ослике, на лошади верхом или в карете. Прийти в зоопарк можно как индивидуально, так и в составе организованной группы. Также можно приобрести специальный корм для животных, которым можно покормить всех обитателей данного зоопарка. За отдельную плату можно воспользоваться услугам инструктора для проката на лошади или пони. Ваши дети будут наслаждаться общением с трогательными зверюшками, кормить и гладить их. Приступы неконтролируемого умиления гарантированы!
                </p>
                <p>
                    Примерная стоимость: с группы 500р. или равноценный подарок в виде рулона сена, мешка зерна, размола, комбикорма, моркови, сахарной свеклы
                </p>
                <h4>Обратите внимание:</h4>
                <ul>
                    <li><a href="~/documents/safety.pdf">Техника безопасности при посещении Контактного зоопарка</a></li>
                    <li><a href="~/documents/parents_agreement.pdf">Согласие родителей на посещение Контактного зоопарка</a></li>
                </ul>
            </div>*@
        <div class="item">
            <h3>Конский навоз с доставкой</h3>

            <div class="photosContainer">
                <img class="inline-image article-image"
                     src="~/images/services/navoz.jfif" />
            </div>

            <p>
                Значение конского навоза состоит в снабжении питательными веществами растений, в улучшении почвенного состава, повышении содержания гумуса и углублении микробиологических процессов почвы. При выделении навозом углекислого газа происходит насыщение воздуха почвы и приземного слоя атмосферы, что способствует улучшению углеродного питания растений. В конском навозе содержится меньше влаги, чем в других видах навоза. Он более рыхлый, а температура разложения достигает 70-80 градусов. Таким образом, он разлагается намного быстрее других видов навоза, но при этом он не столь «агрессивен», ввиду малого содержания кислот . Важная отличительная особенность конского навоза — его способность нагрева почвы в наикратчайший срок. Это и стало причиной его применения на холодных и тяжелых почвах, которые требуют скорейшего и интенсивного прогрева.
            </p>
            <p>
                Мы предлагаем как свежий навоз, так и перегной. Вес одного мешка может колебаться от 30 до 50 кг в зависимости от его влажности и степени переработки.
            </p>
            <h4>Примерная стоимость:</h4>
            <ul>
                <li>самовывоз — 100р./мешок</li>
                <li>доставка в пределах Калуги — 150р./мешок</li>
                <li>доставка за пределами Калуги — от 200р./мешок</li>
            </ul>
        </div>
        <div class="item">
            <h3>Ветеринарные консультации</h3>

            <div class="photosContainer">
                <img class="inline-image article-image"
                     src="~/images/services/veterinary.jfif" />
            </div>

            <ul>
                <li>платные консультации по скотоводству, овцеводству, козоводству, птицеводству, ветеринарии.</li>
                <li>выезды со своим оборудованием по Калужской области для обезроживания, кастрации козлов и баранов бескровным методом</li>
            </ul>
            <p>Звоните по контактному телефону. Цена договорная.</p>
        </div>
        @*<div class="item">
                <h3>Верховые прогулки</h3>

                <div class="photosContainer">
                    <img class="inline-image article-image"
                         src="~/images/services/katanie-s-instruktorom.jfif" />
                </div>

                <p>
                    Вы можете арендовать лошадь и кататься шагом, рысью или галопом. Рядом с ЛПХ расположено поле, живописный пруд и лес (примерно в 1 км). Если Вы уверены в своих силах, то можете ехать самостоятельно, в противном случае инструктор будет водить лошадь за повод. Несколько человек могут арендовать одну лошадь и кататься по очереди. Есть пони и ослик для детей.
                </p>
                <p>
                    Примерная стоимость: 750р./час
                </p>
            </div>*@
        @*<div class="item">
                <h3>Прокат кареты</h3>

                <div class="photosContainer">
                    <img class="inline-image article-image"
                         src="~/images/services/faeton1.jfif" />
                    <img class="inline-image article-image"
                         src="~/images/services/faeton2.jfif" />
                    <img class="inline-image article-image"
                         src="~/images/services/faeton3.jfif" />
                    <img class="inline-image article-image"
                         src="~/images/services/faeton4.jfif" />
                </div>

                <p>
                    Фаэтон в стиле Дикого Запада отлично подойдет для проведения свадьбы, парада, детского праздника. В фаэтоне могут разместиться 6 детей или 4 взрослых человека.
                </p>
                <p>
                    В стоимость проката входят услуги водителя (погонщика).
                </p>
                <p>
                    Примерная стоимость: 5000р./час
                </p>
            </div>*@
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
