﻿@{
    ViewData["Title"] = "О нас";
}

<style>
    .news-block {
        margin-top: 30px;
    }
</style>

<h3>Добро пожаловать!</h3>

<p>Если Вы находитесь в Калуге или Калужской области и хотите приобрести деревенские продукты (молоко, сыр, кефир, йогурт, яйца куриные и перепелиные), посетить контактный зоопарк, покататься верхом на лошади, пони, ослике, заказать карету для свадьбы или других мероприятий, арендовать животное для фотосессии, воспользоваться услугами зоогостиницы или зоотакси — вы попали туда, куда нужно.</p>

<p>Наша мини-ферма будет интересна и детям, и их родителям!</p>

<h3></h3>

@model IEnumerable<webapp.Models.NewsBriefModel>

<div class="news-container">
    @await Component.InvokeAsync("NewsList", new { })
</div>

