﻿@{
    ViewData["Title"] = "О проекте";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Наш проект некоммерческий и нацелен на сбор и систематизацию информации по нелегальным свалкам и просто замусоренным местам нашей страны.</p>
