﻿@model BK.Models.EmailModel
    <div class="page">
        <div class="shapka">
            <div class="logo">
            </div>
            <div class="name_shapka">
                <p>Запчасти на иномарки по честным ценам!</p>
            </div>
            <div class="tel">
                <p>(4842) 40-16-08</p>
                <p>
                </p>
                <p>г. Калуга, ул. Вилонова, 8</p>
            </div>
            <div class="vk">
                <p><a style="color:#fff !important;" href="mailto:orders.bksp@gmail.com">orders.bksp@gmail.com</a></p>
                <p>
                    <a href="http://vk.com/bksp40" target="_blank">
                        <img src="@Url.Content("~/Content/images/vk.png")">
                        Мы ВКонтакте</a>
                </p>
            </div>
            <div class="part">
                <p>
                    <a href="@Url.Content("~/files/BK-Spare-parts-rekv.pdf")"  target="_blank">
                        <img src="@Url.Content("~/Content/images/kart.png")">Наши реквизиты</a>
                </p>
            </div>

            <div class="embl">
                <div class="emb1">
                    <div>
                        <img src="@Url.Content("~/Content/images/cena.png")">
                    </div>
                    <div>
                        <img src="@Url.Content("~/Content/images/cena_lenta.png")">
                    </div>
                </div>
                <div class="emb2">
                    <div>
                        <img src="@Url.Content("~/Content/images/kach.png")">
                    </div>
                    <div>
                        <img src="@Url.Content("~/Content/images/kach_lenta.png")">
                    </div>
                </div>
                <div class="emb3">
                    <div>
                        <img src="@Url.Content("~/Content/images/dost.png")">
                    </div>
                    <div>
                        <img src="@Url.Content("~/Content/images/dost_lenta.png")">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="zap">
                <p>ЗАПРОС ПО VIN</p>
            </div>
            <div class="form">
                <div class="f1">
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "196", height: "624", color1: '000000', color2: 'ffffff', color3: '#207d3d'}, 49059001);
</script>
                </div>
                <div class="f2">
                    <div class="form-wrapper">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "forma" }))
                        {   
                            @:Наименование детали                      
                            <div id="detailContainer">
                                @Html.TextBoxFor(x => x.DetailName[0], new { @class = "name_det" })
                                <button class="button scs">+</button>
                            </div>
                            <div class="n_g">
                                <div class="nomer">
                                    Номер VIN или Кузов<span style="color:red !important;">*</span>                                    
                                    @Html.CheckBoxFor(x => x.IHaveBodyNumber)
                                    Отсутствует<br>
                                    @Html.TextBoxFor(x => x.BodyNumber, new { @class = "nomer_det" })
                                </div>
                                <div class="god">
                                    Год выпуска
										<div>
                                            @{
                            List<SelectListItem> listYears = new List<SelectListItem>();
                            listYears.Add(new SelectListItem { Text = "Раньше 1980", Value = "Раньше 1980" });
                            for (int i = 1980; i <= DateTime.Now.Year; i++)
                            {
                                listYears.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
                            }
                                            }

                                            @Html.DropDownListFor(x => x.DateRelease, listYears, new { @class = "vs", size = "1" })

                                        </div>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tr1">
                                    <p>Наименование ТС</p>
                                    <div>
                                        Марка<br>
                                        @Html.TextBoxFor(x => x.Mark, new { @class = "tc" })
                                    </div>
                                    <div>
                                        Модель<br>
                                        @Html.TextBoxFor(x => x.Models, new { @class = "tc" })
                                    </div>
                                    <div>
                                        Модель/объем двигателя<br>
                                        @Html.TextBoxFor(x => x.Engine, new { @class = "tc" })
                                    </div>
                                    <div>
                                        Модель кузова<br>
                                        @Html.TextBoxFor(x => x.BodyModel, new { @class = "tc" })
                                    </div>
                                    <div>
                                        @{
                            List<SelectListItem> typeDrive = new List<SelectListItem>();
                            typeDrive.Add(new SelectListItem { Text = "Передний", Value = "Передний" });
                            typeDrive.Add(new SelectListItem { Text = "Задний", Value = "Задний" });
                            typeDrive.Add(new SelectListItem { Text = "Полный", Value = "Полный" });                                               
                                        }

                                        @Html.DropDownListFor(x => x.TypeDrive, typeDrive, "Тип привода", new { @class = "spisok_tc sp_tc1", size = "1" })
                                    </div>
                                    <div>
                                        @{
                            List<SelectListItem> wheel = new List<SelectListItem>();
                            wheel.Add(new SelectListItem { Text = "Левый", Value = "Левый" });
                            wheel.Add(new SelectListItem { Text = "Правый", Value = "Правый" });                                                                
                                        }

                                        @Html.DropDownListFor(x => x.Wheel, wheel, "Руль", new { @class = "spisok_tc", size = "1" })
                                    </div>
                                </div>
                                <div class="tr2">
                                    <p>Контактная информация</p>
                                    <div>
                                        Ваше имя<span style="color:red !important;">*</span>  <br>
                                        @Html.TextBoxFor(x => x.Subject, new { @class = "ci" })
                                    </div>
                                    <div>
                                        Телефон<span style="color:red !important;">*</span><br>
                                        @Html.TextBoxFor(x => x.Telefon, new { @class = "ci" })
                                    </div>
                                    <div>
                                        E-mail<span style="color:red !important;">*</span>  <br>
                                        @Html.TextBoxFor(x => x.From, new { @class = "ci" })
                                    </div>
                                    <div class="hochu">
                                        @Html.CheckBoxFor(x => x.Subscribe, new { style = "float: left;" })
                                        <p style="margin-left: 30px;">Хочу получать информацию об акциях, мероприятиях и других важных событиях компании BK Spare Parts</p>
                                    </div>
                                </div>
                                <input type="submit" value="Отправить запрос" class="button">
                            </div>
                        }
                    </div>
                </div>
                <div class="f3">
                    <p>Все оствленные данные нужны только для обратной связи, и ни в коем случае, никогда, ни за какие деньги =) не будут переданы третьим лицам.<br><br>Поля, отмеченные <span style="color:red !important;">*</span> заполнить обязательно!</p>
                </div>
            </div>
            <div class="about">
                <div class="cap_about">
                    Немного о нас
                </div>
                <div class="spisok">
                    <ul>
                        <li>Автомобиль в наше время стал незаменимым помощником. Он позволяет чувствовать себя независимым и уверенным, и экономит ваше драгоценное время. Однако каждый владелец автомобиля понимает, что стоимость автозапчастей для иномарок достаточно высока. И хотя среди автовладельцев еще многие предпочитают специализированные магазины, другие уже оценили превосходство и комфорт интернет-магазинов
                        </li>
                        <li>Мы занимаемся продажей автозапчастей. На нашем сайте вы можете заказать запчасти, которые подходят именно для Вашего автомобиля. При необходимости мы поможем вам подобрать нужные автозапчасти.
								Автозапчасти для иномарок по Калуге предлагают многие. Их продажей занимаются как специализированные магазины, так и рынки. Но нам дорого ваше время, затраченное на поиски необходимых автозапчастей.
                        </li>
                        <li>Мы работаем другим, удобным для вас способом. Вам всего лишь необходимо сделать запрос на необходимые автозапчасти для иномарок у нас на сайте и позвонить нам! Заказ можно сделать по телефону, а так же заполнив форму на сайте. Наш консультант свяжется с вами и обсудит детали доставки автозапчастей.
								Мы работаем только с известными производителями автозапчастей для иномарок, в качестве которых мы уверены на 100%.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="like">
                <div class="tw">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bksp40.ru" data-lang="ru">Твитнуть</a>
                    <script>!function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if(!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                </div>
                <div class="vkon">
                    <script type="text/javascript">
                        VK.init({ apiId: 3749629, onlyWidgets: true });
                    </script>

                    <!-- Put this div tag to the place, where the Like block will be -->
                    <div id="vk_like"></div>
                    <script type="text/javascript">
                        VK.Widgets.Like("vk_like", { type: "button" });
                    </script>
                </div>
                <div class="fac">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if(d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-like" data-href="http://bksp40.ru" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div>
                </div>
            </div>
            <div class="text_foot">
                <p>© 2013 B&amp;K Spare Parts</p>
            </div>
            <div class="log">
                <div class="text">Сайт разработан в</div>
                <div class="bien">
                    <img src="@Url.Content("~/Content/images/bienen.png")">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            toastr.options = {
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            @if (!string.IsNullOrEmpty((string)ViewData["success"]))
            {
               @:$toaster = toastr.success("@ViewData["success"]", "Спасибо");
                                                                        }
            @if (!string.IsNullOrEmpty((string)ViewData["error"]))
            {
               @:$toaster = toastr.error("@ViewData["error"]", "Извините");
            }

            function setAttributes() {
                var $con = $("#detailContainer");
                $.each($con.find("input"), function(index, item) {
                    var $item = $(item);
                    $item.attr("id", "DetailName_" + index + "_");
                    $item.attr("name", "DetailName[" + index + "]");
                    $item.addClass("name_det");
                });
                var length = $con.find("button").length - 1;
                $.each($con.find("button"), function(index, item) {
                    var $item = $(item);
                    if(index !== length) {
                        $item.removeClass("scs");
                        $item.addClass("err");
                        $item.text("-");
                    }
                    else {
                        $item.removeClass("err");
                        $item.addClass("scs");
                        $item.text("+");
                    }
                });

            }

            $("#detailContainer button").data("input", $("#detailContainer input"));
            $(document).on("click", "#detailContainer button.scs", function(e) {
                if($("#detailContainer input").length > 9)
                    return false;
                var $input = $("<input>");
                var $button = $("<button class='button err'>-</button>");
                $button.data("input", $input);
                $("#detailContainer").append($input).append($button);
                $input.focus();
                setAttributes();
                return false;
            });

            $(document).on("click", "#detailContainer button.err", function(e) {
                var $target = $(e.target);
                $target.data("input").remove();
                $target.remove();
                setAttributes();
                return false;
            });

        });
    </script>
