﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*side menu*/
.sidenav {
    display: inline-block;
    height: 100%;
    width: 10%;
    min-width: 150px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #222;
    overflow: hidden;
    border-right: 1px solid #080808;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

    .sidenav .sidenav-container {
        margin-top: 35px;
        height: 100%;
    }

    .sidenav ul {
        overflow-y: auto;
        list-style: none;
    }

    .sidenav li {
        list-style: none;
        padding: 16px 2px 16px 2px;
    }

    .sidenav a {
        width: auto;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
        transition: 0.3s;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*standard styles redefine*/
.navbar-inverse {
    z-index: 10;
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
}

    .navbar-inverse .navbar-nav > li > a {
        transition: 0.3s;
    }

.body-content {
    position: relative;
    margin-top: 35px;
    margin-left: 15%;
}
