﻿@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ЛПХ "Коза Седунь"</title>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/my.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-fallback-test="window.jQuery.ui"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Welcome">О нас</a></li>
                    <li><a asp-area="" asp-controller="PetHotel" asp-action="Index">Зоогостиница</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Production">Продукция</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Другие услуги</a></li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Photos">Наши фото</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Animals">Наши животные</a></li>*@
                    <li><a asp-area="" asp-controller="Docs" asp-action="Index">Статьи</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Feedback">Отзывы и предложения</a></li>

                    @{
                        if (User.IsInRole("admin"))
                        {
                            <li><a asp-area="" asp-controller="File" asp-action="Index">Файлы</a></li>
                            <li><a asp-area="" asp-controller="Backup" asp-action="Index">Бэкапы</a></li>
                            @*<li><a asp-area="" asp-controller="Manage" asp-action="ViewUsers">Управление пользователями</a></li>*@
                        }
                    }

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div id="footerdiv">
            <hr />
            <footer>
                <p>&copy; 2017 - ЛПХ "Коза Седунь"</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
