﻿<!DOCTYPE html>
<html>
<head>
    <meta name="title" content="BK Spare parts | Автозапчасти на иномарки по доступной цене!" />
	<meta name="description" content="У нас вы сможете заказать любые запчасти по доступной цене и мы их быстро доставим. Постоянным клиентам скидка!" />
	<meta property="og:image" content="http://bksp40.ru/Content/images/logo.png" />
	<meta property="og:title" content="Автозапчасти на иномарки по доступной цене!" />
	<meta property="og:description" content="У нас вы сможете заказать любые запчасти по доступной цене и мы их быстро доставим. Постоянным клиентам скидка!" />
    <title>BK Spare parts | Автозапчасти на иномарки по доступной цене!</title>
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/toastr-responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/toastr.css")" rel="stylesheet" />
    <link rel="shortcut icon" href="http://bksp40.ru/favicon.png" type="image/x-icon">
    <link rel="icon" href="http://bksp40.ru/favicon.png" type="image/x-icon">
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?97"></script>
    <meta name='yandex-verification' content='52fad0f495ce8fe5' />
    
    <!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22006900 = new Ya.Metrika({id:22006900,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22006900" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    
</head>

<body>
    @RenderBody()
</body>
</html>
