﻿@{
    ViewData["Title"] = "Файлы";

    bool isAdmin = User.IsInRole("admin") || User.IsInRole("moder");
}

<script>
    function remove(fileName) {
        $.post("Delete", { fn: fileName }, function (d) { location.reload(); });
    }
</script>

@if (isAdmin)
{
    <h3>Файлы</h3>

    <form asp-controller="File" asp-action="Add" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="editor-field">
            <input type="file" id="file" name="file" />
        </div>

        <input type="submit" class="btn btn-default" value="Загрузить" />
    </form>

    @model IEnumerable<string>

    @foreach (var file in Model)
    {
        <div>
            @Html.ActionLink(@file, "Get", new { fn = @file })
            <a href="#" onclick="remove('@file')">del</a>            
        </div>
    }
}