﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model UserViewModel
@*@inject SignInManager<ApplicationUser> SignInManager*@

@{
    ViewData["Title"] = "Вход";
}

<h2>@ViewData["Title"].</h2>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<div id="vk_auth"></div>

@{
    <script type="text/javascript">
        VK.init({ apiId: @ViewData["VkAppId"] });
        var currentAuthUrl = '/Account/LoginVK?returnUrl=@ViewData["ReturnUrl"]';
        VK.Widgets.Auth("vk_auth", { authUrl: currentAuthUrl });
    </script>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
