﻿.navbar-inverse {
    /*background-color: radial-gradient(ellipse at center, #ffffff, #ebf5ed);*/
    background: radial-gradient(ellipse at center, #ffffff 0%,#ebf5ed 100%);
    border-color: transparent;
}

body {
    background-color: #ebf5ed;
}

.body-content {
    position: relative;
    margin-top: 35px;
    margin-left: 15%;
}

