﻿@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - РосСвалка</title>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/my.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-fallback-test="window.jQuery.ui"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Contamination" asp-action="Index" class="navbar-brand">РосСвалка</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Contamination" asp-action="Add">Добавить</a></li>

                    @{
                        if (User.IsInRole("moder"))
                        {
                            <li><a asp-area="" asp-controller="Contamination" asp-action="ViewRequests">Управление заявками</a></li>
                        }
                        if (User.IsInRole("admin"))
                        {
                            <li><a asp-area="" asp-controller="Contamination" asp-action="ViewRequests">Управление заявками</a></li>
                            <li><a asp-area="" asp-controller="Manage" asp-action="ViewUsers">Управление пользователями</a></li>
                        }
                    }

                    <li><a asp-area="" asp-controller="Home" asp-action="About">О проекте</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div id="footerdiv">
            <hr />
            <footer>
                <p>&copy; 2017 - РосСвалка</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
