/*
 Theme Name:   KZ40 Theme
 Theme URI:    http://kz40.ru/mytheme/
 Description:  KZ40 Theme
 Author:       Vladimir Khozeev
 Author URI:   http://kz40.ru
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
 Text Domain:  twenty-sixteen-child
*/

/* 
<!-- MY --> 
*/
.admin-link {
	margin: 0.25em;
	float:right;
	opacity: 0.2;
}

.site-info p {
	margin: 0 0 0.25em;
}

.site-info .line-divider {
	margin-bottom: 1.5em;
}
