﻿<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

@model List<ContaminationRequestViewModel>
@{
    ViewData["Title"] = "Просмотр заявок";
}
<h2>@ViewData["Title"].</h2>
<h3>Показаны первые 10 заявок</h3>

<style>
    .admintable th {
        padding-right: 10px;
    }

    .admintable td {
        padding-right: 10px;
    }
</style>

<table class="admintable">
    <tr>
        <th></th>
        @*<th>Место</th>*@
        <th>Описание</th>
        <th>Отправитель</th>
        <th>Рейтинг</th>
        <th>Дата создания</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Html.ActionLink("Просмотр", "ViewRequest", new { pkey = @Model[i].PKey, rkey = @Model[i].RKey })
                @*<button onclick="viewrequest('@Model[i].PKey','@Model[i].RKey');">Просмотр</button>*@
            </td>

            <td>@Html.DisplayFor(m => m[i].DescriptionShort)</td>
            <td>@Html.DisplayFor(m => m[i].Sender.UserName)</td>
            <td>@Html.DisplayFor(m => m[i].Sender.RatingPercent)</td>
            <td>@Html.DisplayFor(m => m[i].CreateDate)</td>
        </tr>
    }
</table>

<script type="text/javascript">
    function viewrequest(pkey, rkey) {
        $('#selectedContainer').unload();
        $('#selectedContainer').load('/Contamination/ViewRequestPartial?pkey=' + pkey + '&rkey=' + rkey);
    }
</script>

<div id="selectedContainer">
</div>