﻿@model ContaminationViewModel
<h2>@ViewData["Title"]</h2>

<table></table>

<tr>
    <td>
        @Html.LabelFor(m => m.CreateDate)
    </td>
    <td>
        @Html.DisplayFor(m => m.CreateDate)
    </td>
</tr>

<p>
    <td>
        @Html.LabelFor(m => m.Description)
    </td>
    <td>
        @Html.DisplayFor(m => m.Description)
    </td>
</p>

@if (Model.ShowUser)
{
    <p>
        <td>
            @Html.LabelFor(m => m.UserName)
        </td>
        <td>
            @Html.DisplayFor(m => m.UserName)
        </td>
    </p>

}