﻿@inject UserManager<ApplicationUser> UserManager
@model ContaminationRequestViewModel
<h2>@ViewData["Title"]</h2>

@{
    bool isNew = Model == null || string.IsNullOrEmpty(Model.RKey);
    bool isAdmin = User.IsInRole("admin") || User.IsInRole("moder");
    bool isAdmining = isAdmin && !isNew;
}

<form asp-controller="Contamination" method="post" class="form-horizontal" enctype="multipart/form-data">
    <hr />

    @if (!isNew)
    {
        <div class="form-group">
            <label asp-for="Sender.UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sender.UserName" class="form-control" readonly="readonly" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Sender.RatingPercent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sender.RatingPercent" class="form-control" readonly="readonly" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" class="form-control" readonly="readonly" />
            </div>
        </div>
    }

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Coordinates" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <div id="map" class="inline-mapcontainer"></div>
            <input id="inputcoordinates" asp-for="Coordinates" class="form-control" readonly="readonly" />
            <span asp-validation-for="Coordinates" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <input asp-for="PKey" type="hidden" />
    <input asp-for="RKey" type="hidden" />

    @if (!isAdmin)
            {
        <div class="form-group">
            <label class="col-md-2 control-label">Проверка</label>
            <div class="col-md-10">
                <div class="g-recaptcha" data-sitekey="6Lcw8RoUAAAAAGXdB2iYjgcGLscmU_C_32UTnoIh"></div>
            </div>
        </div>
    }

    @if (isAdmining)
            {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" formaction="Approve" class="btn btn-default">Одобрить</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" formaction="Delete" class="btn btn-default">Удалить</button>
            </div>
        </div>
    } else
    {
        <div class="form-group">
            <label class="col-md-2 control-label">Фотографии</label>
            <div class="col-md-offset-2 col-md-10">
                <input type="file" name="photos" id="photos" multiple />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="sendButton" formaction="Add" class="btn btn-default">Отправить</button>
            </div>
        </div>
    }
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    var myPlacemark;

    $(document).ready(function () {
        setTimeout(function () {
            ymaps.ready(function () {
                var lat = 55.76, long = 37.64;

                var coordsVal = $('#inputcoordinates').val();
                if (coordsVal) {
                    var ts = coordsVal.split(' ');
                    lat = parseFloat(ts[0]); long = parseFloat(ts[1]);
                    myMap = new ymaps.Map('map', { center: [lat, long], zoom: 17, controls: ['smallMapDefaultSet'] },
                        { autoFitToViewport: 'always', searchControlProvider: 'yandex#search' });
                    createPlacemark([lat, long]);
                } else {
                    myMap = new ymaps.Map('map', { center: [lat, long], zoom: 17, controls: ['smallMapDefaultSet'] },
                        { autoFitToViewport: 'always', searchControlProvider: 'yandex#search' });

                    navigator.geolocation.getCurrentPosition(function (pos) {
                        myMap.setCenter([pos.coords.latitude, pos.coords.longitude], 17);
                    });
                }

                myMap.events.add('click', function (e) {
                    var coords = e.get('coords');
                    if (myPlacemark) {
                        $('#inputcoordinates').val(coords[0] + ' ' + coords[1]);
                        myPlacemark.geometry.setCoordinates(coords);
                    } else {
                        $('#inputcoordinates').val(coords[0] + ' ' + coords[1]);
                        createPlacemark(coords);
                    }
                    $("#savebutton").removeAttr("disabled");
                });

                function createPlacemark(coords) {
                    myPlacemark = new ymaps.Placemark(coords, { iconCaption: 'Место загрязнения' },
                        { preset: 'islands#violetDotIconWithCaption', draggable: true });
                    myMap.geoObjects.add(myPlacemark);
                }
            })
        }, 0);

        $('#photos').change(function (e) {
            var input = document.getElementById('photos');
            if (input && input.files) {
                //if (input.files.length > 6) {
                //    e.preventDefault();
                //    alert('Вы можете прикрепить до 6 фотографий.');
                //    return;
                //}

                for (var index = 0; index < input.files.length; ++index) {
                    fr = new FileReader();
                    fr.onload = function (file) {
                        var data = file.currentTarget.result;
                        var n = data.lastIndexOf(",");
                        debugger;
                        var base64 = data.substring(n + 1);

                        resizeBase64Img(base64, 1000, 1000).then(function (newImg) {
                            debugger;
                            $("body").append(newImg);
                        });
                    };
                    fr.readAsDataURL(input.files[index]);
                }
            }
        });

        function resizeBase64Img(base64, width, height) {
            var canvas = document.createElement("canvas");
            canvas.width = width;
            canvas.height = height;
            var context = canvas.getContext("2d");
            var deferred = $.Deferred();
            $("<img/>").attr("src", "data:image/gif;base64," + base64).load(function () {
                context.scale(width / this.width, height / this.height);
                context.drawImage(this, 0, 0);
                deferred.resolve($("<img/>").attr("src", canvas.toDataURL()));
            });
            return deferred.promise();
        }
    });
</script>
