﻿@{
    ViewData["Title"] = "Главная";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery">
</script>
<script src="~/lib/jquery-ui/jquery-ui.min.js" asp-fallback-test="window.jQuery.ui"></script>
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" />

<style>
    .body-content {
        width: 100%;
        margin: 0px;
    }
</style>

<div id="map" class="mapcontainer"></div>

<script type="text/javascript">
    var requestsLimiter = new RequestLimiter(1200);
    var currentMousePos = { x: -1, y: -1 };
    var currentMapPos = null;
    var userSelectedMousePos = null;
    var userSelectedMapPos = null;


    $(document).ready(function () {
        setTimeout(function () {
            ymaps.ready(function () {
                myMap = new ymaps.Map('map', { center: [55.76, 37.64], zoom: 17, controls: ['smallMapDefaultSet'] },
                    { autoFitToViewport: 'always', searchControlProvider: 'yandex#search' });
                navigator.geolocation.getCurrentPosition(function (pos) {
                    myMap.setCenter([pos.coords.latitude, pos.coords.longitude], 17);
                });

                myMap.events.add('mousemove', function (e) {
                    currentMousePos.x = e.get('pageX');
                    currentMousePos.y = e.get('pageY');
                    currentMapPos = e.get('coords');
                });

                myMap.events.add('boundschange', function (event) {
                    requestsLimiter.execute(function () { updateMarkers(event.get('newBounds')); });
                });

                myMap.events.add('contextmenu', function (e) {
                    e.preventDefault();
                    showCustomMenu();
                    return false;
                });

                var navbar = $('.navbar'); var map = $('#map'); var footerDiv = $('#footerdiv');
                onResize();
                $(window).resize(onResize);

                function onResize() {
                    var height = $(window).height() - navbar.outerHeight(true) - footerDiv.outerHeight(true);
                    if (height < 500) height = 500;
                    map.css({ height: height });
                }

                function createPlacemark(coords, pkey, rkey) {
                    var newPlacemark = new ymaps.Placemark(coords, { iconCaption: 'Место загрязнения' }, { preset: 'islands#violetDotIconWithCaption' });
                    newPlacemark.pkey = pkey; newPlacemark.rkey = rkey;
                    newPlacemark.events.add('click', function () {
                        requestsLimiter.execute(function () { openInfoDialog(newPlacemark.pkey, newPlacemark.rkey); });
                    });
                    myMap.geoObjects.add(newPlacemark);
                }

                function updateMarkers(mapBounds) {
                    $.ajax({
                        type: "GET", url: "/Contamination/GetPoints",
                        data: { p11: mapBounds[0][0], p12: mapBounds[0][1], p21: mapBounds[1][0], p22: mapBounds[1][1] }
                    }).done(function (data) {
                        myMap.geoObjects.removeAll();
                        data.forEach(function (element, index, array) {
                            createPlacemark([element.x, element.y], element.partitionKey, element.rowKey)
                        });
                    });
                }

                function showCustomMenu() {
                    userSelectedMousePos = { x: currentMousePos.x, y: currentMousePos.y };
                    userSelectedMapPos = currentMapPos;
                    $('#custommenu').css({ 'left': currentMousePos.x, 'top': currentMousePos.y }).show().fadeIn('slow').menu();
                    $(document).click(function () { $("#custommenu").hide(); });
                }
            })
        }, 0);
    });

    function openInfoDialog(pkey, rkey) {
        $('#dialog').empty().html('<div id="progressbar"></div>');
        $("#progressbar").progressbar({ value: false });
        $("#progressbar").progressbar("option", "value", false);
        $('#dialog').dialog({ width: 400 }).load('/Contamination/ContaminationView?pkey=' + pkey + '&rkey=' + rkey,
            function (response, status, xhr) {
                if (status == "error") $('#dialog').dialog('close');
            });
    }

    function openAddDialog(x, y) {
        $('#dialog').empty().html('<div id="progressbar"></div>');
        $("#progressbar").progressbar({ value: false });
        $("#progressbar").progressbar("option", "value", false);
        var coords = { latitude: userSelectedMapPos[0], longitude: userSelectedMapPos[1] };
        window.location.replace('/Contamination/AddContamination?' + $.param(coords));
    }

    function getTicks() { var date = new Date(); return date.getTime(); }
    function RequestLimiter(minInterval) {
        lastActionTime = 0;
        lastActionToken = null;

        this.executeInternal = function (action) {
            action();
            lastActionTime = getTicks();
            lastActionToken = null;
        }
        this.execute = function (action) {
            if (lastActionToken) clearTimeout(lastActionToken);
            var n = getTicks() - lastActionTime;
            var delay = 0;
            if (n <= minInterval)
                delay = minInterval - n;
            lastActionToken = setTimeout(this.executeInternal, delay, action);
        }
    }
</script>

<div id="dialog" title="Cведения о загрязнении" style="display:none"></div>

<ul id="custommenu" style="display:none;position:absolute;">
    <li><div onclick="openAddDialog();">Добавить информацию об этом месте</div></li>
</ul>