<h2>Spherix</h2> 
<p>Небольшая логическая игра, представляющая собой развитие всем известных "Пятнашек". Необходимо расставить шарики разных цветов по соответствующим зонам.</p>
<ul>
	<li>Платформа: Android</li>
	<li>Предварительные системные требования: Android 2.2, разрешение экрана не менее 600х480</li>
</ul>
<p>Игра разрабатывается под маркой Red Square Studio.</p>
<h3>Рабочие скриншоты:</h3>
<a href="hidden/projects/spherix/screen1.jpg"><img src="screen1.jpg" width="500" height="303"></a>