﻿@model List<UserViewModel>

<style>
    .admintable th {
        padding-right: 10px;
    }

    .admintable td {
        padding-right: 10px;
    }
</style>

<table class="admintable">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        @*<th>Рейтинг</th>*@
        <th>Роль</th>
        <th>Дата создания</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Html.DisplayFor(m => m[i].Id)</td>
            <td>@Html.DisplayFor(m => m[i].UserName)</td>
            @*<td>@Html.DisplayFor(m => m[i].RatingPercent)</td>*@
            <td>@Html.DropDownListFor(m => m[i].UserRole, UserViewModel.Roles, null, new { @onchange = $"roleChange('{Model[i].Id}', this.value);" })</td>
            <td>@Html.DisplayFor(m => m[i].CreateDate)</td>
        </tr>
    }
</table>

<div id="operationResultContainer" style='display:none' />

<script type="text/javascript">
    function roleChange(userId, role) {
        $.get('/Manage/SetUserRole?userId=' + userId + '&role=' + role, function (data) {
            $('#operationResultContainer').text(data).fadeIn(400).delay(3000).fadeOut(400);
        }).fail(function (data) {
            debugger;
            $('#operationResultContainer').text(data).fadeIn(400).delay(3000).fadeOut(400);
        });
    }
</script>