﻿@model List<UserViewModel>
@{
    ViewData["Title"] = "Просмотр списка пользователей";
}
<h2>@ViewData["Title"].</h2>

<input id="searchText" keyup="if(event.keyCode == 13) $(" #btnSearch").click();" />
<button id="btnSearch" onclick="$('#searchResultContainer').load('/Manage/GetUsers?search=' + $('#searchText').val());">Искать</button>

<div id="searchResultContainer" />