﻿@model WebApplication1.Models.CandidateViewModel

@section Scripts{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/manual/jquery.unobtrusive-ajax.min.js"></script>*@
}

<form id="candidate-form" asp-controller="Candidates" asp-action="SaveCandidate" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#edit-form-container"
      data-ajax-success="onSuccess">
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                @Html.HiddenFor(m => m.Id)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FullName, new { @class = "col-md-4 control-label" })
                @Html.EditorFor(m => m.FullName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                @Html.EditorFor(m => m.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-4 control-label" })
                @Html.EditorFor(m => m.BirthDate, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-4 control-label" })
                @Html.EditorFor(m => m.Phone, new { @class = "form-control" })
            </div>

            <p>@Html.ValidationSummary(false, "", new { @class = "text-danger" })</p>

        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="btRemove" type="button" class="btn btn-primary">Удалить</button>
        <button id="btSave" type="submit" value="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>

<script>
    $('#btRemove').click(function (e) {
        debugger;
        $.post('Candidates/DeleteCandidate', { id: @Model.Id }, function (e) {
            $('#candidate-dialog').modal('hide');
            refreshTable();
        });
    });

    function onSuccess(data) {
        var hasErrors = data.indexOf('field-validation-error') > -1 ||
            data.indexOf('validation-summary-errors') > -1;
        if (!hasErrors) {
            $('#candidate-dialog').modal('hide');
            refreshTable();
        }
    }
</script>