﻿@model IEnumerable<CandidateViewModel>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/manual/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/manual/moment.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/manual/bootstrap-table-1.12.1/dist/bootstrap-table.min.js"></script>
    <script src="~/js/manual/bootstrap-table-1.12.1/dist/locale/bootstrap-table-ru-RU.min.js"></script>

    <script>
        var $table;

        $(document).ready(function () {
            $table = $('#table');
            $table.on('click-row.bs.table', function (e, row, $element) {
                $("#edit-form-container").load('Candidates/EditCandidate/' + row.id, function () {
                    $('#candidate-dialog').modal('show');
                });
            });
        });

        function refreshTable() {
            $table.bootstrapTable('refresh');
        }
    </script>
}

<h4>Просмотр кандидатов</h4>

<script>
    function dateFormat(value, row, index) {
        return moment(value).format('DD/MM/YYYY');
    }
</script>

<table id="table"
       data-unique-id="id"
       data-sort-name="fullName"
       data-sort-order="asc"
       data-toggle="table"
       data-side-pagination="server"
       data-url="Candidates/LoadCandidates"
       data-classes="table table-condensed table-hover table-striped"
       data-pagination="true"
       data-search="true"
       data-show-refresh="true"
       data-toolbar="#toolbar"
       data-page-size="20"
       data-page-list="[5,10,20,50,100,All]">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true"
                data-halign="center" data-align="center"
                data-visible="false">Id</th>

            <th data-field="fullName" data-sortable="true"
                data-halign="center" data-align="center">ФИО</th>

            <th data-field="email" data-sortable="true"
                data-halign="center" data-align="center">Email</th>

            <th data-field="birthDate" data-sortable="true"
                data-halign="center" data-align="center"
                data-formatter="dateFormat">Дата рождения</th>

            <th data-field="phone" data-sortable="true"
                data-halign="center" data-align="center">Телефон</th>
        </tr>
    </thead>
</table>

<div id="candidate-dialog" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование записи</h5>
            </div>
            <div id="edit-form-container" />
        </div>
    </div>
</div>