﻿@model IEnumerable<TestBalance.Models.CurrencyEditModel>

<div id="currencyView">
    <h3>
        Валюты
    </h3>
    <table class="table">
        <tr>
            <th>Название</th>
            <th></th>
        </tr>
        @Html.DisplayFor(t => t)
    </table>
</div>
