﻿@model TestBalance.Models.CurrencyEditModel

<div id="currencyAdd">
    @using (Ajax.BeginForm("CurrencyAdd", new AjaxOptions()
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "currencyAdd",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure",
        OnBegin = "onBegin"
    }))
    {
        <fieldset>
            <h3>Добавление новой валюты</h3>

            <div style="margin: 3px 0">
                @Html.EditorFor(t => t.Name)
            </div>

            <p>@Html.ValidationSummary(false, "", new { @class = "text-danger" })</p>

            <input type="submit" value="Добавить" />

        </fieldset>
    }
</div>