﻿@model IEnumerable<webapp.Models.DocBriefModel>

@{
    if (User.IsInRole("admin") || User.IsInRole("moder"))
    {
        ViewData["IsAdmin"] = true;
    }
}

<h4>Последние статьи:</h4>

<div class="news-block">
    @Html.DisplayFor(t => t)
</div>

@if (ViewData["IsAdmin"] != null)
{
<button onclick="$('#addform').empty().load('AddDoc')">Добавить статью</button>
<div id="addform" />

<script>
    function edit(id) {
        $("#addform").empty().load("EditDoc?" + $.param({ id: id }));
    };
    function remove(id) {
        $.post("DeleteDoc", { id: id }, function (d) { location.reload(); });
    }
</script>
}