﻿@model UserViewModel
@using Microsoft.AspNetCore.Http.Authentication
@{
    ViewData["Title"] = "Управление профилем";
}

<h2>@ViewData["Title"].</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>

<form asp-controller="Manage" asp-action="ManageAccount" method="post" class="form-horizontal">
    <hr />

    <div class="form-group">
        <label asp-for="Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Id" class="form-control" readonly="readonly" />
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="WantsToBeAnonymous" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="WantsToBeAnonymous" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RatingPercent" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RatingPercent" class="form-control" disabled="disabled" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Сохранить изменения</button>
        </div>
    </div>
</form>


@if (Model.CurrentLogins.Count > 0)
{
    <h4> Способы входа</h4>

    <table class="table">
        <tbody>
            @for (var index = 0; index < Model.CurrentLogins.Count; index++)
            {
                <tr>
                    <td>@Model.CurrentLogins[index].LoginProvider</td>
                    <td>
                        @if ((bool)ViewData["ShowRemoveButton"])
                    {
                            <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="form-horizontal">
                                <div>
                                    <input asp-for="@Model.CurrentLogins[index].LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@Model.CurrentLogins[index].ProviderKey" name="ProviderKey" type="hidden" />
                                    <input type="submit" class="btn btn-default" value="Remove" title="Remove this @Model.CurrentLogins[index].LoginProvider login from your account" />
                                </div>
                            </form>
                        } else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}