﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.balance-row {
    margin: 3px 0;
}

.progress {
    margin: 20px 0;
}

.wrapper {
    position: relative;
    display:flex;
}

.background {
    z-index: -100;
    position: absolute;
    top: 45%;
    height: 10%;
    width: 50%;
}

.content {
    z-index: 100;
    /*position: relative;*/
}
