﻿@using LoftShop.Data
@model List<LoftShop.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Администрирование";
}

@Html.ActionLink("Вернуться назад", "Index", "Admin")

<h2>@ViewData["Title"]</h2>
<h3>Категории</h3>

<br />

<h4>Список:</h4>
<style>
    table, th, td {
        border: 1px solid black;
        padding: 2px;
    }
</style>

@{
    <table>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th>@Html.DisplayFor(m => m[i].Name)</th>
                <th>@Html.DisplayFor(m => m[i].Visible) показывать</th>
                <th>@Html.ActionLink("редактировать", "ShowCategory", "Admin", new { catId = Model[i].Id })</th>
                <th>@Html.ActionLink("удалить", "DeleteCategory", "Admin", new { catId = Model[i].Id })</th>
            </tr>
        }
    </table>
}

<br />

@{
    <form action="/Admin/AddCategory" method="post">
        <input type="text" name="catName" />
        <input type="submit" value="Добавить" />
    </form>
}

<br />
@Html.ActionLink("Вернуться назад", "Index", "Admin")