﻿@{
    ViewData["Title"] = "Администрирование";
}

<h2>@ViewData["Title"]</h2>
<h3>Общая</h3>

<br />
<br />
<h4>
    @Html.ActionLink("Категории", "Categories", "Admin")
</h4>
<h4>
    @Html.ActionLink("Товары", "Products", "Admin")
</h4>
<h4>
    @Html.ActionLink("Пользователи", "Users", "Admin")
</h4>
