﻿@using LoftShop.Data
@model LoftShop.ViewModels.CategoryViewModel
@inject CategoriesManager CategoriesManager

@{
    ViewData["Title"] = "Администрирование";
}

@Html.ActionLink("Вернуться назад", "Categories", "Admin")

<h2>@ViewData["Title"]</h2>
<h3>Редактирование категории</h3>

<br />

@{
    <form action="/Admin/EditCategory" method="post">
        <p>@Html.HiddenFor(m => m.Id)</p>
        <p>@Html.EditorFor(m => m.Name)</p>
        <p>@Html.EditorFor(m => m.Visible) показывать</p>

        <input type="button" name="cancel" value="Отмена" onClick="window.location='/Admin/Categories';" />
        <input type="submit" value="Сохранить" />
    </form>
}

<br />
@Html.ActionLink("Вернуться назад", "Categories", "Admin")