<h2>Обо мне</h2> 

<p>Сразу предупреждаю, что я поклонник простоты и минимализма, и не очень опытный верстальщик, поэтому для этого сайта на первом месте всегда будет стоять контент, на втором - кроссбраузерность и только на третьем - красоты :)</p>
<p>Сайт был создан для того, чтобы систематизировать мои увлечения и "креативы", которые получаются в результате этих увлечений... Поэтому начнем (и закончим) с перечисления видов моей деятельности:</p>
<ul>
	<li><h3>Программирование</h3></li>
	Я работаю в крупной компании в должности ведущего программиста, можно сказать что программирование это моя жизнь и хобби. В свободное время я занимаюсь разработкой ПО и игр под Windows и Android (также начинал J2ME, но забросил ввиду бесперспективности). Также собираюсь начать разработку под iOS.
	
	<li><h3>Фотография</h3></li>
	Я люблю фотографировать, но едва ли могу назвать себя мастером. Возможно, я буду помещать сюда какие-то особо удачные фотографии, но пока мне нечем похвастаться в данной области.
	
	<li><h3>Ручные поделки и изобретения</h3> </li>
	Мечтаю заняться строительством роботов и всяких необычных средств передвижения. Для этого мне не хватает многих вещей, но я работаю над этим. Кстати, мой кумир - Тони Старк :)
</ul>