<h2>Проекты</h2> 
<h3><a href="index.php?page=project-sb">Sea Battle</a><h3>
<h3><a href="index.php?page=project-sdm">Smart Download Manager</a><h3>
<h3><a href="index.php?page=project-spherix">Spherix</a><h3>