<h2>Sea Battle</h2> 
<p>Классический морской бой. Три уровня сложности, реалистичное поведение AI, красочные эффекты... Отличный способ скоротать время.</p>
<ul>
	<li>Платформа: J2ME</li>
	<li>Системные требования: MIDP 2.0, разрешение экрана от 150х150</li>
</ul>
<p>Игра реализована почти полностью, не хватает только нормального дизайна и возможности игры через блютус. Нужен дизайнер!</p>
<h3>Скриншоты:</h3>
<img src="screen1.jpg">