﻿@model IEnumerable<TestBalance.Models.HistoryModel>

@{
    ViewBag.Title = "Операции";
}

<div class="row">
    <div class="col-md-8">
        <h3>
            История операций
        </h3>
        <table class="table">
            <tr>
                <th>Дата</th>
                <th>Валюта</th>
                <th>Начальная сумма</th>
                <th>Изменение</th>
                <th>Итоговая сумма</th>
                <th>Пользователь</th>
            </tr>

            @Html.DisplayFor(t => t)
        </table>
    </div>
</div>
