﻿@model BK.Models.EmailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Письмо</title>
</head>
<body>
    <div>
        <h1>@Model.Subject</h1>
        <h3>Контактная информация</h3>
        <p>E-mail: @Model.From</p>
        <p>Телефон: @Model.Telefon</p>
        <p>Хочет подписаться: @if(Model.Subscribe){
                                  @:"Да"
        }else {
                                  @: "Нет"
                              } 
        </p>
        <hr />
        <h3>Наименование деталей</h3>
        @foreach (var detail in Model.DetailName)
        {
            <p>@detail</p>
        }
        <hr />
        <h3>Информация по деталям</h3>
        <p>Номер VIN или Кузов: @Model.BodyNumber</p>
        <p>Год выпуска: @Model.DateRelease</p>
        <p>Марка автомобиля: @Model.Mark</p>
        <p>Модель: @Model.Models</p>
        <p>Модель/Объем двигателя: @Model.Engine</p>
        <p>Модель кузова: @Model.BodyModel</p>
        <p>Тип привода: @Model.TypeDrive</p>
        <p>Руль: @Model.Wheel</p>
    </div>
</body>
</html>
