﻿@{
    ViewData["Title"] = "Подтверждение e-mail адреса";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Спасибо за подтверждение e-mail адреса. <a asp-controller="Account" asp-action="Login">Нажмите для входа</a>.
    </p>
</div>
