﻿@{
    ViewData["Title"] = "Подтверждение изменения пароля";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был изменен. <a asp-controller="Account" asp-action="Login">Нажмите, чтобы войти</a>.
</p>
