body{
		background-color:#000000;
		color:#ffffff;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
		}
		
input, select {
	background: #cbe2b0;
	border: 1px solid #194826;
	border-radius: 3px;
    
	padding: 5px 10px 5px 10px;
    
    box-sizing: border-box;
	color: #194826;
}
select{
	-webkit-appearance: none;
    -moz-appearance: none;
	position: relative;
	background: url(images/arrow.png) 96% 50% no-repeat;
}

input[type="submit"] {
	border-color: white;
	color: #fff;
	padding: 4px 30px;
	background: #207d3d;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	font-size: 13px;
}

button.button {
    border: 1px solid #fff;    
	color: #fff;
	width: 24px;
    height: 24px;
    border-radius: 3px;
	background: #207d3d;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-left: 10px;
    position: relative;
    top: -1px;
}

 button.button.err{
     background: #7d2120;     
 }
.page {
	width:977px;
	margin:0 auto;
}
.shapka{
	color:#ffffff;
	position: relative;
	margin-top: 40px;
	height: 700px;
	background: url(images/ban.png) center bottom no-repeat;
}
.logo{
	background-image:url(images/logo.png);
	background-repeat: no-repeat;
	position:absolute;
	width: 315px;
	height: 117px;
}
.name_shapka{
		font-size:24px;
		position:absolute;
		right:0;
		padding-top: 58px;
}
.name_shapka p{
	margin:0;
	padding:0;
}	
.tel{
		margin-top: auto;
		position:absolute;
		right: -25px;
		left: inherit;
		top: 140px;
		font-size: 18px;
}
.tel p{
	margin-top: 10px;
	margin-top: 0;
}	

.vk{
		position:absolute;
		right:0;
		top:185px;
		margin-top: 19px;
		right: 0;
}	
.vk a{
		color:#6b8eb4;
		font-size:18px;
		}
		.vk a img {
			margin-right: 7px;
			position: relative;
			top: 7px;
		}
.part{
		position:absolute;
		right:0;
		top: 263px;
		margin-top: 33px;
		right: 9px;
}
.part a{
		font-size:18px;
		color: #fff;
}		
.part img{
		margin-right:13px;
		position: relative;
		top: 13px;
}
.part p{
		margin:0;
}
.content{
		width:100%;
}
.embl{
		height:209px;
		width:100%;
		text-align: center;
		position: absolute;
		bottom: 0px;
}
.emb1{
		float:left;
		width:282px;
}
.emb2{
		float:left;
		width:347px;
}
.emb3{
		float:right;
		width:343px;
}
.zap{
	width:100%;
	height:121px;
	position: relative;
	z-index: 1;
	background: url(images/top.png) center top no-repeat;
	}
.zap p{
	font-size:48px;
	text-align:center;
	margin: 0;
	line-height: 2;
}	
.form{
	width:100%;
	overflow: hidden;
		position: relative;
	top: -21px;
	}
.f1{
	float:left;
	width: 196px;
	margin: 30px 30px 0 0;
}
.f2{
	float:left;
	width:533px;
	margin-right:30px;
}
.f3{
	float:right;
	width:185px;
	
}
.f3 p{
	border-top:#b9d0a0 solid 1px;
	margin:0;
	color:#666666;
	font-size:13px;
	margin-top: 286px;
	padding-top:10px;
}
.form-wrapper{
background-color:#b9d0a0;
	color:#0f5f30;
	font-size:14px;
	padding: 0 3px 3px 3px;
	border-radius: 0 0 5px 5px;	
	
}

.forma{	
	color:#0f5f30;
	font-size:14px;
	border: 3px solid #003313;
	border-top: none;
	border-radius: 0 0 5px 5px;	
	padding-left: 44px;
	padding-top: 40px;
    padding-bottom: 20px;
	margin-bottom: 0;
}
.name_det{
	width:409px;
	margin-top: 10px;
	}
.n_g{
	width:407px;
	overflow: hidden;
	margin-top: 15px;
}	
.nomer{
	width:263px;
	float:left;
}
.nomer_det{
	width:261px;
	margin: 4px 0 0 0;
}
.god{
	float:right;
	width:122px;
	}
.vs{
	width:122px;
	height: 24px;
	margin-top: 4px;
	padding: 0 10px;
}
.tr{
	width:100%;
	margin-top:30px;
	overflow: hidden;
}
.tr1{
	width:50%;
	float:left;
	}
.tc{
	width:220px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.sp_tc1{
	margin-top:15px;
	}
.spisok_tc{
	width: 172px;
	margin-bottom: 35px;
	height:26px;
	}
.tr2{
	width:50%;
	float:left;
	}
.ci{
	width:182px;
	margin-top: 10px;
	margin-bottom: 15px;
	}
.hochu p{
	width:143px;
	}
.about{
	height:450px;
	width:100%;
	padding-top: 70px;
	background: url(images/fon.png) center top no-repeat;
}
.cap_about{
	font-size:28px;
	text-align:center;
	height: 57px;
}
.spisok li {
    list-style-type: none;
	width: 30%;
	float: left;
	color:#e6f0dd;
	font-size:14px;
	margin-right: 20px;
	line-height: 22px;
   }
.spisok ul {
    margin-left: 0;
    padding-left: 0;
   }		
.footer {
	width:100%;
	padding-top: 60px;
	position: relative;
	color:#7c8079;
	margin-bottom: 56px;
}
.footer:before {
	display: block;
	content: " ";
	width: 490px;
	height: 1px;
	position: absolute;
	background: #218234;
	left: 0;
	top: 0;
}
.footer:after {
	display: block;
	content: " ";
	width: 490px;
	height: 1px;
	position: absolute;
	background: #218234;
	right: 0;
	top: 0;
}
.footer p{
	margin: 0;
}
.like{
	width: 400px;
	float:left;
	}
.text_foot{
	float:left;
	width: 300px;;
	margin: 0 0 0 30px;
}

.log{
	float:right;
	width: 230px;
	margin-right:16px;
	}
.log .text{
	float:left;
	width: 135px;
}	
.bien{
	float:right;
	}
.tw{
	float:left;
	width: 126px;
	overflow: hidden;
}	
.vkon{
	float:left;
	width: 150px;
}
.fac{
	float:left;
	}