﻿@using Microsoft.AspNetCore.Identity
@using LoftShopFramework.Data
@using LoftShopFramework.Models.ShopViewModels
@using System.Text

@inject CategoriesManager CategoriesManager
@model IEnumerable<CategoryViewModel>

@{
    var categories = CategoriesManager.GetCategories();

    @*<li class="dropdown">
            <a asp-controller="Shop" asp-action="Index">Все категории</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">v</a>

            <ul class="dropdown-menu">
                @foreach (var category in categories) {
                    <li>
                        @Html.ActionLink(@category.Name, "ShowCategory", "Shop", new { name = @category.Name })
                    </li>
                }
            </ul>
        </li>*@

    <div id="mySidenav" class="sidenav">
        <div class="sidenav-container">
            <ul>
                <li>
                    @Html.ActionLink(@CategoriesManager.SummaryName, "Index", "Shop")
                </li>

                @foreach (var category in categories)
                {
                    <li>
                        @Html.ActionLink(@category.Name, "ShowCategory", "Shop", new { catName = @category.Name })
                    </li>
                }
            </ul>
        </div>
    </div>
}

<script>
    var positionSideMenu = function () {
        var sidenav = $('.sidenav');
        var topnav = $('.navbar');
        if (sidenav && topnav) {
            sidenav.css({ top: topnav.height() });
        }

        var content = $('.body-content');
        if (sidenav && content) {
            content.css({ "margin-left": sidenav.width() + 35 });
        }
    };

    window.onresize = positionSideMenu;
    window.addEventListener('load', positionSideMenu);
</script>