﻿/*#operationResultContainer {
    margin-top: 50px;
    padding: 5px;
}*/

#operationResultContainer {
    width: 400px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.mapcontainer {
    width: 100%;
    height: 700px;
    margin: 0px;
}

.inline-mapcontainer {
    width: 500px;
    height: 300px;
    margin: 4px;
}
