﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using webapp.Data
@model UserViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Вход";
}

<h2>@ViewData["Title"].</h2>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?143"></script>

@{
    <script type="text/javascript">
        VK.init({ apiId: @ViewData["VkAppId"] });
    </script>
}

<div id="vk_auth"></div>
<script type="text/javascript">
    var currentAuthUrl = '/Account/LoginVK?returnUrl=@ViewData["ReturnUrl"]';
    VK.Widgets.Auth("vk_auth", { authUrl: currentAuthUrl });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
