﻿@model TestBalance.Models.BalanceEditModel

<div id="balanceEdit">
    @using (Ajax.BeginForm("BalanceEdit", new AjaxOptions()
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "balanceEdit",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure",
        OnBegin = "onBegin"
    }))
    {
        <fieldset>
            <h3>Операции</h3>

            <div style="margin: 3px 0">
                @Html.TextBoxFor(t => t.Sum)
                @Html.DropDownListFor(t => t.CurrencyId, new SelectList(Model.CurrencyList, "Id", "Name"))
            </div>

            <p>@Html.ValidationSummary(false, "", new { @class = "text-danger" })</p>

            <input type="submit" name="submit" value="Начислить" />
            <input type="submit" name="submit" value="Списать" />

        </fieldset>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Sum').inputmask({
                //этот регэксп позволяет ввести в первой группе на 1 цифру больше, т.е. 27 вместо 26
                //возможно в jquery.inputmask ошибка
                regex: '\\d{1,26}(,\\d{1,2})?',
                rightAlign: true
            });
        });
    </script>
</div>