﻿@{
    ViewBag.Title = "Балансы";
}

<script>
    function onSuccess(data) {
        if (data.indexOf('field-validation-error') > -1 ||
            data.indexOf('validation-summary-errors') > -1)
            hideprogress();
        else
            $('#balanceView').load('/Balance/BalanceView', hideprogress);
    }
    function onFailure(data) {
        debugger;
        hideprogress();
        var statusCode = data.status;
        alert("Произошла ошибка. Код " + statusCode);
    }
    function onBegin() {
        showprogress();
    }

    function hideprogress() {
        show('#content');
        hide('#progressbar');
    }
    function showprogress() {
        hide('#content');
        show('#progressbar');
    }
    function hide(selector) {
        $(selector).css('visibility', 'hidden')
    }
    function show(selector) {
        $(selector).css('visibility', 'visible')
    }
</script>

<div class="wrapper">
    <div class="content" id="content">
        @{Html.RenderAction("BalanceView");}

        @{Html.RenderAction("BalanceEdit");}
    </div>

    <div class="background" id="progressbar" style="visibility:hidden">
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
    </div>
</div>