﻿@{
    ViewData["Title"] = "Зоогостиница";
}

<h3>Зоогостиница</h3>

<p>Уезжаете в отпуск? Некому оставить питомца? Мы выручим Вас!</p>
<p>Домашние условия передержки, индивидуальный подход! Мы позаботимся о вашем питомце на время отпуска, отъезда, выхаживаем в послеоперационный период. Будут соблюдены все ваши условия по содержанию, режиму, питанию и уходу за животным! По договоренности: свободное перемещение Вашего любимца по дому, ежедневные трехразовые активные прогулки, игры на свежем воздухе, возможность порезвиться и пошуметь — что еще нужно для счастья вашего питомца? Профессиональный подход, большой опыт работы с разными животными. Чистота, уют и заботливый уход гарантированы.</p>
<p>Дополнительные услуги: стрижка кошек и собак, купание, вычёсывание, подрезание когтей.</p>

<h4>Примерная стоимость:</h4>
<ul>
    <li>кошка в клетке — 250р./сутки</li>
    <li>кошка в доме — 450р./сутки</li>
    <li>собака в вольере на улице — 350р./сутки</li>
    <li>собака в доме — 450р./сутки</li>
    <li>мелкие клеточные, террариумные, аквариумные животные — 100р./сутки</li>
    <li>экзотические животные - цена договорная/li>
</ul>

<h4>Примечания:</h4>
<p>Корм, лежак, игрушки предоставляют владельцы животных.<p>
<p>Если вам нужны какие-то индивидуальные условия - не стесняйтесь, все можно обсудить. Владельцам животных предоставляется короткая экскурсия по территории, можно своими глазами увидеть все условия и сделать аргументированный вывод.</p>

<a href="https://docs.google.com/document/d/1RdJ63pF_-zP1iY1n5DVszrDJen_P-igC0aw3GlR1TtY/edit?usp=sharing">Скачать бланк договора по временному содержанию животного</a>

<h4>Фото-примеры:</h4>

@ImagesInserter.InsertImages("/images/pethotel", (imagePath) =>
{
    return $"<img src='{imagePath}' class='inline-image article-image' />";
});