﻿<h2>Умные закачки / Smart Download Manager</h2> 
<p>Менеджер закачек.</p>
<ul>
	<li>Платформа: Android 2.2</li>	
</ul>
<p>Данная программа будет поддерживать http-, ftp-, torrent закачки и содержать в себе множество мелких удобных функций (знаю, что звучит в стиле: "Убийца Айфона", но в топе бесплатных программ Play Store я не смог найти то, что устраивало бы меня на 100%, и предполагаю что я не один такой).</p>
<p>Пока в разработке (степень готовности ~30%).</p>