﻿/*side menu*/
.sidenav {
    display: inline-block;
    height: 100%;
    width: 10%;
    min-width: 150px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #222;
    overflow: hidden;
    border-right: 1px solid #080808;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

    .sidenav .sidenav-container {
        margin-top: 35px;
        height: 100%;
    }

    .sidenav ul {
        overflow-y: auto;
        list-style: none;
    }

    .sidenav li {
        list-style: none;
        padding: 16px 2px 16px 2px;
    }

    .sidenav a {
        width: auto;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
        transition: 0.3s;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*standard styles redefine*/
.navbar-inverse {
    z-index: 10;
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
}

    .navbar-inverse .navbar-nav > li > a {
        transition: 0.3s;
    }

.body-content {
    position: relative;
    margin-top: 35px;
    margin-left: 15%;
}
