﻿.btn {
    margin-top: 2px;
}

html {
    overflow-y: scroll;
}

body {
    padding: 0;
}

.container {
    margin-left: 10%;
    width: 80%;    
}

.navbar {
    margin-bottom: 0px;
}

.inline-image {
    margin-top: 3px;
    margin-bottom: 8px;
}

.article-image {
    height: 300px;
    max-width: 600px;
}

div .item {
    margin-left: 5%;
    width: 85%;
}


.carousel-control {
    width: 5%;
}

/*.carousel-indicators .active {
    background-color: brown;
}*/

/*.carousel-indicators li {
    border-color: brown;
}*/

.carousel-indicators li {
    text-indent: 0;
    width: 150px;
    height: 40px;
    border: none;
    color: dimgray;
    background-color: transparent;
}

.carousel-indicators .active {
    text-indent: 0;
    width: 150px;
    height: 40px;
    border: none;
    color: brown;
    font-weight: bold;
    background-color: transparent;
}

.carousel-indicators {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 0 20px 0;
    width: 100%;
}

.news-header {
    display: inline;
    font-size: medium;
    font-weight: bolder;
}

.news-date {
    display: inline;
    width: 100px;
    margin-right: 5px;
    font-size: medium;
    font-weight: 300;
}

.news-body {
    margin-left: 100px;
}

.news-post {
    margin-bottom: 15px;
}

/*.news-header-table {
    padding-bottom: 3px;
}*/

.news-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.photosContainer {
    max-width: 80%;
}
