﻿div {
    /*margin-left: 20px;*/
    margin-left: 0;
}

.carousel-inner .item {
    margin-left: 0;
}

.photosContainer {
    margin-left: 20px;
}

.carousel-control.left {
    background-image: none;
    margin-left: -60px;
}

.carousel-control.right {
    background-image: none;
}

.carousel-indicators li {
    background-color: #333;
    vertical-align: middle;
    display: table-cell;
    color: rgb(177,177,177);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.carousel-indicators .active {
    background-color: #333;
    color: rgb(230,230,230);
}
