﻿@model webapp.Models.DocBriefModel

<div class="news-post">
    <div class="news-header-table">
        <div class="news-date">
            @Html.DisplayFor(t => t.CreateDate)
        </div>

        <div class="news-header">
            @Html.DisplayFor(t => t.Header)
        </div>
    </div>

    <div class="news-body">
        @Html.Raw(Model.Body)
    </div>

    @if (ViewData.ContainsKey("IsAdmin"))
    {
    <div class="news-body">
        <button onclick="edit('@Model.Id')">Редактировать</button>
        <button onclick="remove('@Model.Id')">Удалить</button>
    </div>
    }
</div>
