﻿@model TestBalance.Models.BalanceModel

<div class="balance-row">
    <span>
        @Html.TextBoxFor(t => t.Sum, "{0:N2}", new { disabled = "disabled", @readonly = "readonly" })

        @Html.DisplayTextFor(t => t.Name)
    </span>
</div>