﻿@model TestBalance.Models.CurrencyEditModel

<tr>
    <td>
        @Html.DisplayFor(t => t.Name)
    </td>

    <td>
        @if (!Model.IsSystem)
        {
            @Ajax.ActionLink("удалить", "CurrencyDelete", "Currency", new { id = Model.Id },
           new AjaxOptions()
           {
               HttpMethod = "Post",
               UpdateTargetId = "currencies",
               InsertionMode = InsertionMode.ReplaceWith,
               OnSuccess = "onSuccess",
               OnFailure = "onError",
               OnBegin = "onBegin"
           },
           new { @class = "btn btn-default" })
        }
    </td>

</tr>