﻿@model TestBalance.Models.HistoryModel

<tr>
    <td>
        @Html.DisplayFor(t => t.CreateDate)
    </td>

    <td>
        @Html.DisplayFor(t => t.CurrencyName)
    </td>

    <td>
        @Html.DisplayFor(t => t.BeforeSum)
    </td>

    <td>
        @Html.DisplayFor(t => t.Delta)
    </td>

    <td>
        @Html.DisplayFor(t => t.AfterSum)
    </td>

    <td>
        <pre>@Html.DisplayTextFor(t => t.UserInfo)</pre>
    </td>
</tr>